# Normalize source code before commits
*.lua eol=lf 
*.txt eol=lf 
*.otui eol=lf 
*.otmod eol=lf 
*.otml eol=lf 
*.cpp eol=lf 
*.h   eol=lf 

# Binary data - never apply line-ending conversion
*.otmm binary
*.otb binary
*.otbm binary
